Repository frappe/lending, pull requests merged in 2023-09, with the labels that each got.

#5 fix: infinite loop on repayment
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#21 fix: Disallow zero disbursement
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.py
Labels: needs-tests

#32 fix: fetch logic for repay_from_salary in loan_repayment
  lending/loan_management/doctype/loan_repayment/loan_repayment.js
  lending/loan_management/doctype/loan_repayment/loan_repayment.json
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#11 refactor: `get_matching_vouchers_for_bank_reconciliation` -> `get_matching_queries`
  lending/hooks.py
  lending/loan_management/utils.py
Labels: needs-tests

#33 fix: Repayment amount validation
  lending/loan_management/doctype/loan_application/loan_application.py
Labels: needs-tests

#45 chore: release v15 beta
  lending/hooks.py
  lending/loan_management/doctype/loan_application/loan_application.py
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.js
  lending/loan_management/doctype/loan_repayment/loan_repayment.json
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/utils.py
Labels: needs-tests

#9 feat: interest day-count setting, loan type non-submittable, tab for company loan settings
  lending/install.py
  lending/loan_management/doctype/loan/loan.js
  lending/loan_management/doctype/loan/loan.json
  lending/loan_management/doctype/loan/loan.py
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_disbursement/test_loan_disbursement.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.json
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.py
  lending/loan_management/doctype/loan_type/loan_type.json
  lending/loan_management/doctype/process_loan_interest_accrual/process_loan_interest_accrual.js
  lending/loan_management/workspace/loans/loans.json
  lending/patches.txt
  lending/patches/v15_0/create_custom_field_for_bpi.py
  lending/patches/v15_0/create_custom_field_for_interest_day_count_convention.py
  lending/patches/v15_0/make_loan_type_non_submittable.py
  lending/patches/v15_0/update_custom_fields_for_company_tab.py
Labels: needs-tests, project-k

#18 feat: loan classification doctype and IRAC provisioning conf table and 'asset' cleanup
  lending/hooks.py
  lending/install.py
  lending/loan_management/doctype/days_past_due_log/days_past_due_log.json
  lending/loan_management/doctype/loan/loan.json
  lending/loan_management/doctype/loan/loan.py
  lending/loan_management/doctype/loan_asset_classification_range/loan_asset_classification_range.json
  lending/loan_management/doctype/loan_classification/__init__.py
  lending/loan_management/doctype/loan_classification/loan_classification.js
  lending/loan_management/doctype/loan_classification/loan_classification.json
  lending/loan_management/doctype/loan_classification/loan_classification.py
  lending/loan_management/doctype/loan_classification/test_loan_classification.py
  lending/loan_management/doctype/loan_classification_range/__init__.py
  lending/loan_management/doctype/loan_classification_range/loan_classification_range.json
  lending/loan_management/doctype/loan_classification_range/loan_classification_range.py
  lending/loan_management/doctype/loan_interest_accrual/test_loan_interest_accrual.py
  lending/loan_management/doctype/loan_irac_provisioning_configuraton/__init__.py
  lending/loan_management/doctype/loan_irac_provisioning_configuraton/loan_irac_provisioning_configuraton.json
  lending/loan_management/doctype/loan_irac_provisioning_configuraton/loan_irac_provisioning_configuraton.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.js
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_restructure/loan_restructure.js
  lending/loan_management/doctype/process_loan_classification/__init__.py
  lending/loan_management/doctype/process_loan_classification/process_loan_classification.js
  lending/loan_management/doctype/process_loan_classification/process_loan_classification.json
  lending/loan_management/doctype/process_loan_classification/process_loan_classification.py
  lending/loan_management/doctype/process_loan_classification/test_process_loan_classification.py
  lending/patches.txt
  lending/patches/v15_0/create_custom_field_for_collection_offset_sequence_for_written_off_asset.py
  lending/patches/v15_0/create_custom_field_for_irac_provisioning_configuraton.py
  lending/patches/v15_0/generate_loan_classifications_from_loan_asset_classification_ranges.py
  lending/patches/v15_0/rename_process_asset_classification_doctype_2.py
  lending/patches/v15_0/update_classification_fields_in_loan.py
  lending/patches/v15_0/update_company_loan_asset_classification_ranges_table.py
  lending/patches/v15_0/update_loan_asset_classification_ranges.py
Labels: project-k

#48 chore: Typo fixes
  lending/install.py
  lending/loan_management/workspace/loans/loans.json
  lending/patches.txt
  lending/patches/v15_0/create_custom_field_for_irac_provisioning_configuration.py
Labels: needs-tests

#49 fix: typo in irac_provisioning_configuraton and patch to update loan_column_break
  lending/install.py
  lending/loan_management/doctype/loan_irac_provisioning_configuration/__init__.py
  lending/loan_management/doctype/loan_irac_provisioning_configuration/loan_irac_provisioning_configuration.json
  lending/loan_management/doctype/loan_irac_provisioning_configuration/loan_irac_provisioning_configuration.py
  lending/patches.txt
  lending/patches/v15_0/create_custom_field_for_irac_provisioning_configuration.py
  lending/patches/v15_0/fix_typo_in_irac_provisioning_configuration.py
  lending/patches/v15_0/update_company_loan_asset_classification_ranges_table.py
  lending/patches/v15_0/update_loan_column_break_due_to_bpi.py
  lending/templates/pages/__pycache__/__init__.py
Labels: needs-tests

#35 feat: loan partner
  lending/loan_management/doctype/loan_partner/__init__.py
  lending/loan_management/doctype/loan_partner/loan_partner.js
  lending/loan_management/doctype/loan_partner/loan_partner.json
  lending/loan_management/doctype/loan_partner/loan_partner.py
  lending/loan_management/doctype/loan_partner/test_loan_partner.py
  lending/loan_management/doctype/loan_partner_loan_type/__init__.py
  lending/loan_management/doctype/loan_partner_loan_type/loan_partner_loan_type.json
  lending/loan_management/doctype/loan_partner_loan_type/loan_partner_loan_type.py
  lending/loan_management/doctype/loan_partner_repayment_schedule_type/__init__.py
  lending/loan_management/doctype/loan_partner_repayment_schedule_type/loan_partner_repayment_schedule_type.js
  lending/loan_management/doctype/loan_partner_repayment_schedule_type/loan_partner_repayment_schedule_type.json
  lending/loan_management/doctype/loan_partner_repayment_schedule_type/loan_partner_repayment_schedule_type.py
  lending/loan_management/doctype/loan_partner_repayment_schedule_type/test_loan_partner_repayment_schedule_type.py
  lending/loan_management/doctype/loan_partner_shareable/__init__.py
  lending/loan_management/doctype/loan_partner_shareable/loan_partner_shareable.json
  lending/loan_management/doctype/loan_partner_shareable/loan_partner_shareable.py
Labels: project-k

#60 chore: rename loan partner charge type and remove custom fields on uninstall
  lending/install.py
  lending/loan_management/doctype/loan_partner_shareable/loan_partner_shareable.json
  lending/patches.txt
  lending/patches/v15_0/rename_loan_partner_charge_type.py
Labels: needs-tests
