Repository frappe/lending, pull requests merged in 2025-04, with the labels that each got.

#459 fix: Pending principal amount for LOC loans
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#460 fix: don't delete GL Entries on repost during backdated payments
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#468 fix: Add loan disbursement link in loan adjustment
  lending/loan_management/doctype/loan_adjustment/loan_adjustment.json
  lending/loan_management/doctype/loan_adjustment/loan_adjustment.py
Labels: needs-tests

#472 fix: Add waiver handling to repost
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#487 fix: Move classification process to background
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#502 fix: Customer not getting unmarked as NPA
  lending/loan_management/doctype/loan/loan.py
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/tests/test_utils.py
Labels: backport version-1-hotfix, backport poc-staging

#508 fix: Interest accrual reversal
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: needs-tests

#495 fix: add process_loan_classification ID in dpd when backdated
  lending/loan_management/doctype/loan/loan.py
Labels: needs-tests

#507 fix: Remove Loan Create (+) button
  lending/loan_management/doctype/loan_application/loan_application.js
Labels: backport version-1-hotfix

#513 fix: demand generation upon prepayment
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: needs-tests, backport version-1-hotfix

#516 fix: Demand and accrual reversal on same day payment
  lending/loan_management/doctype/loan_demand/loan_demand.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#517 fix: Demand and accrual reversal on same day payment
  lending/loan_management/doctype/loan_demand/loan_demand.py
Labels: needs-tests

#518 fix: penal demands and additional interest posting_date offset
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: needs-tests

#524 Penal demand fix
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: backport version-1-hotfix, backport poc-staging

#523 test: add assertEqual for penal and interest waiver
  lending/loan_management/doctype/loan/test_loan.py
Labels: backport version-1-hotfix

#490 fix: loan interest accruals should not happen before last_accrual_date
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_demand/loan_demand.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#529 chore: Move patches to v1 folder
  lending/patches.txt
  lending/patches/v1_0/add_index_for_custom_fields_for_JE.py
  lending/patches/v1_0/create_custom_field_loan_accrual_rate_for_company.py
Labels: needs-tests

#532 fix: Unaccrued intrest for closed and settled accounts
  lending/loan_management/doctype/loan_repayment/utils.py
Labels: needs-tests, backport version-1-hotfix

#535 fix: Reversal of penal demands on LOC payments
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests, backport version-1-hotfix

#538 fix: Reverse demands
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#542 fix: loan status update when cancelled the interest or penalty waiver
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: backport version-1-hotfix

#544 fix: Loan disbursement tag in penal demand
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/tests/test_utils.py
Labels: needs-tests, backport version-1-hotfix

#556 Repost tool allocations version 1 hotfix
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#557 fix: loan accrual overlap validation last_accrual_date
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: needs-tests

#560 fix: get_bulk_due_details pending_principal_amounts fixed
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/utils.py
Labels: needs-tests
