Repository frappe/lending, pull requests merged in 2025-06, with the labels that each got.

#664 fix: Unbooked interest value in bulk API
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_interest_accrual/test_loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/utils.py
Labels: needs-tests, backport version-1-hotfix

#668 fix: Demand and accrual posting always on now date
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_demand/loan_demand.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: needs-tests

#669 fix: trace and job ids for bulk repayment log
  lending/loan_management/doctype/bulk_repayment_log/bulk_repayment_log.json
  lending/loan_management/doctype/bulk_repayment_log/bulk_repayment_log.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#671 fix: Close loan on security amount refund
  lending/loan_management/doctype/loan_interest_accrual/test_loan_interest_accrual.py
  lending/loan_management/doctype/loan_refund/loan_refund.py
  lending/loan_management/doctype/loan_refund/test_loan_refund.py
  lending/tests/test_utils.py
Labels: backport version-1-hotfix

#674 fix: Reposting written of account
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#675 fix: Reposting written off accounts
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#677 fix: Repost tool fixes for written off accounts
  lending/loan_management/doctype/loan/loan.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests, backport version-1-hotfix

#690 test: Advance payment before first EMI
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: backport version-1-hotfix, backport version-1

#694 fix: repayment periods for co-lender_schedule
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.py
  lending/tests/test_utils.py
Labels: backport version-1-hotfix

#698 fix: Interest accrual overlap
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.py
Labels: needs-tests, backport version-1-hotfix, backport version-1

#705 chore: Add value date in loan refund doctype
  lending/loan_management/doctype/loan_refund/loan_refund.json
  lending/loan_management/doctype/loan_refund/loan_refund.py
  lending/patches.txt
  lending/patches/v1_0/update_value_date_in_loan_refund.py
  lending/tests/test_utils.py
Labels: needs-tests

#718 fix: validate company for employee and loan product
  lending/loan_management/doctype/loan/loan.py
  lending/loan_management/doctype/loan_application/loan_application.py
Labels: backport version-1-hotfix

#727 fix: sales invoice created on loan disbursement with charges
  lending/loan_management/doctype/loan/loan.json
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.json
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.py
  lending/loan_management/doctype/loan_disbursement/test_loan_disbursement.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/tests/test_utils.py
Labels: backport version-1-hotfix

#734 fix: Duplicate demand creation via concurrent payment cancellation requests
  lending/loan_management/doctype/loan_demand/loan_demand.py
Labels: needs-tests

#740 fix: incorrect gl entry on loan repayment when Process Payroll Accounting Based on Employee is enabled via hrms
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/tests/test_utils.py
Labels: backport version-1-hotfix

#746 fix: Loan Closure demand reversal
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/overrides/sales_invoice.py
Labels: backport version-1-hotfix

#747 fix: Update principal paid amount after repost
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests, backport version-1-hotfix
