Repository frappe/lending, pull requests merged in 2025-05, with the labels that each got.

#565 Revert "Repost tool allocations version 1 hotfix"
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#576 ci: add semantic releases
  .github/workflows/on_release.yml
  .releaserc
Labels: backport version-1-hotfix

#578 ci: release notes
  .github/workflows/release_notes.yml
Labels: backport version-1-hotfix

#585 fix: Skip repayment start date recalculation for migrated or customized schedules
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_restructure/loan_restructure.py
Labels: backport version-1-hotfix

#572 fix: add missing applicant_type field
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#589 fix: don't do validations for penal accruals
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: backport version-1-hotfix

#595 fix: adapt reversals of accruals and demands to date to datetime change
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_demand/loan_demand.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: needs-tests

#598 fix: Updates to the repost tool
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
  lending/loan_management/doctype/process_loan_interest_accrual/process_loan_interest_accrual.json
  lending/loan_management/doctype/process_loan_interest_accrual/process_loan_interest_accrual.py
Labels: needs-tests

#553 fix: recalculate repost demand amounts
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.json
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#600 fix: add accounting dimension in v15
  lending/hooks.py
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_refund/loan_refund.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/patches.txt
  lending/patches/v15_0/create_accounting_dimension_fields_v15.py
Labels: needs-tests

#605 fix: more explicit allocation loop for reposts
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#606 fix: recalculate only charges
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#607 fix: Backdate repayment cancellation and repost conflict
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#612 feat: cancel all accruals during repost
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#617 fix: get_last_accrual_date remove one day added
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
Labels: backport version-1-hotfix

#613 Revert "fix: recalculate only charges"
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#631 Revert "fix: more explicit allocation loop for reposts"
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#632 fix: Enqueue on cancellation processes
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests, backport version-1-hotfix

#634 chore: Update tokens
  .github/workflows/on_release.yml
  .github/workflows/release_notes.yml
Labels: backport version-1-hotfix

#640 fix: whitelist bulk payment method POST
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#648 fix: Schedule status update on repost
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests, backport version-1-hotfix, backport version-1

#651 fix: Repayment schedule status on cancel
  lending/loan_management/doctype/loan_interest_accrual/loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: backport version-1-hotfix

#655 fix: Interest accrual via loan demand
  lending/loan_management/doctype/loan_demand/loan_demand.py
Labels: needs-tests, backport version-1-hotfix

#654 feat: Add mode of payment to loan disbursement
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.json
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.py
Labels: needs-tests, backport version-1-hotfix

#661 fix: Loan status update in repost tool
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests, backport version-1-hotfix
