Repository frappe/lending, pull requests merged in 2025-08, with the labels that each got.

#810 fix: Old security deposit adjustment handling using repost tool
  lending/loan_management/doctype/loan_repayment_repost/loan_repayment_repost.py
Labels: needs-tests

#814 fix: Demand reversal on closure repayment cancel
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: needs-tests, backport version-1-hotfix

#784 chore: Remove redundant variable
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.py
Labels: needs-tests

#817 feat: Interest accrual repost tool
  lending/loan_management/doctype/loan_accrual_repost/__init__.py
  lending/loan_management/doctype/loan_accrual_repost/loan_accrual_repost.js
  lending/loan_management/doctype/loan_accrual_repost/loan_accrual_repost.json
  lending/loan_management/doctype/loan_accrual_repost/loan_accrual_repost.py
  lending/loan_management/doctype/loan_accrual_repost/test_loan_accrual_repost.py
  lending/loan_management/doctype/loan_accrual_repost_detail/__init__.py
  lending/loan_management/doctype/loan_accrual_repost_detail/loan_accrual_repost_detail.json
  lending/loan_management/doctype/loan_accrual_repost_detail/loan_accrual_repost_detail.py
Labels: backport version-1-hotfix

#822 fix: Accrual repost tool fixes
  lending/loan_management/doctype/loan_accrual_repost/loan_accrual_repost.py
Labels: needs-tests, backport version-1-hotfix

#834 fix: commit bulk repayment per loan completion
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: backport version-1-hotfix

#838 fix: Auto closure loan scenario
  lending/loan_management/doctype/loan/test_loan.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: backport version-1-hotfix

#840 chore: Handle null values
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#820 feat: Loan Outstanding Report
  lending/loan_management/report/loan_outstanding_report/__init__.py
  lending/loan_management/report/loan_outstanding_report/loan_outstanding_report.js
  lending/loan_management/report/loan_outstanding_report/loan_outstanding_report.json
  lending/loan_management/report/loan_outstanding_report/loan_outstanding_report.py
Labels: needs-tests

#837 feat: per repayment tracking of failing repayments
  lending/loan_management/doctype/bulk_repayment_log/bulk_repayment_log.json
  lending/loan_management/doctype/bulk_repayment_log/bulk_repayment_log.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#828 feat: Past Cashflow Report
  lending/loan_management/report/past_cashflow_report/__init__.py
  lending/loan_management/report/past_cashflow_report/past_cashflow_report.js
  lending/loan_management/report/past_cashflow_report/past_cashflow_report.json
  lending/loan_management/report/past_cashflow_report/past_cashflow_report.py
Labels: needs-tests

#866 fix: variable naming in bulk_repost()
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#869 fix: flag nonsubmitted disbursements in post_bulk_payments
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#871 fix: Loan repayment timeout
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests, backport version-1-hotfix

#803 fix: repayment start date jumping for moratorium v3
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.py
  lending/loan_management/doctype/loan_repayment_schedule/test_loan_repayment_schedule.py
Labels: backport version-1-hotfix

#879 fix: Write Off Recovery cancel status update
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: backport version-1-hotfix

#854 feat: Future cashflow report
  lending/loan_management/report/future_cashflow_report/__init__.py
  lending/loan_management/report/future_cashflow_report/future_cashflow_report.js
  lending/loan_management/report/future_cashflow_report/future_cashflow_report.json
  lending/loan_management/report/future_cashflow_report/future_cashflow_report.py
Labels: needs-tests

#876 fix: interest calculation only till freeze date
  lending/loan_management/doctype/loan_interest_accrual/test_loan_interest_accrual.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests, backport version-1-hotfix

#888 fix: add missing value_date param in loan write off journal entry
  lending/loan_management/doctype/loan/loan.py
  lending/loan_management/doctype/loan_write_off/loan_write_off.py
Labels: needs-tests
