Repository frappe/lending, pull requests merged in 2025-07, with the labels that each got.

#758 fix: Write Off Amount validation
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_write_off/loan_write_off.json
  lending/loan_management/doctype/loan_write_off/loan_write_off.py
Labels: needs-tests, backport version-1-hotfix

#763 fix: TypeError in get_matching_queries by adding missing common_filters argument
  lending/loan_management/utils.py
Labels: backport version-1-hotfix

#772 fix: pre and advance payment interest accrual breaks
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.py
  lending/loan_management/doctype/loan_repayment_schedule/test_loan_repayment_schedule.py
Labels: backport version-1-hotfix

#781 fix: Allow charge waivers against closed loans
  lending/overrides/sales_invoice.py
Labels: needs-tests, backport version-1-hotfix

#791 fix: update patch for rename_is_accrued_to_demand_generated
  lending/patches.txt
  lending/patches/v1_0/rename_is_accrued_to_demand_generated.py
Labels: needs-tests

#796 fix: Loan Adjustment closure with security deposit wthin write off limit
  lending/loan_management/doctype/loan_adjustment/loan_adjustment.py
  lending/loan_management/doctype/loan_adjustment/test_loan_adjustment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
Labels: backport version-1-hotfix

#808 fix: Value date for credit notes
  lending/loan_management/doctype/loan_demand/loan_demand.py
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#807 fix: Do not reverse accruals for write off recovery
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests, backport version-1-hotfix
