Repository frappe/lending, pull requests merged in 2025-09, with the labels that each got.

#892 fix: loan status when cancelled the loan repayment - v15
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
Labels: needs-tests

#908 fix: Sales Invoice cancel timeout
  lending/overrides/sales_invoice.py
Labels: needs-tests

#906 fix: Interest Accrual repost tool
  lending/loan_management/doctype/loan_accrual_repost/loan_accrual_repost.py
Labels: needs-tests

#926 fix: Timeout on loan disbursement cancel
  lending/loan_management/doctype/loan_disbursement/loan_disbursement.py
Labels: needs-tests, backport version-1-hotfix

#936 fix: waiver allocation for settled loans
  lending/loan_management/doctype/loan_repayment/loan_repayment.py
  lending/loan_management/doctype/loan_repayment/test_loan_repayment.py
  lending/loan_management/doctype/loan_write_off/loan_write_off.py
Labels: backport version-1-hotfix

#937 fix: Next EMI date after advance payment
  lending/loan_management/doctype/loan_repayment_schedule/loan_repayment_schedule.py
  lending/loan_management/doctype/loan_repayment_schedule/test_loan_repayment_schedule.py
Labels: backport version-1-hotfix

#946 fix: Add missing WHERE clause in SQL query
  lending/patches/v1_0/update_value_date_in_pending_doctypes.py
Labels: needs-tests
